*{
	padding: 0;
	margin: 0 auto;
}


header{
	display: flex;
	justify-content:center;
	margin: 5px;
	width: 90%;
}

@media (min-width: 300px) and (max-width: 768px){

	header {
		flex-flow: column;
		width: 100%;
	}
}

.container{
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	background-color: red;
}

.wraper{
	width: 80%;
}


.img{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px){

	img {
		padding: 2px;
	}
}

label{
	padding: 0 10px;
}